<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Kind</key>
	<string>Xcode.IDEFoundation.TextSubstitutionFileTemplateKind</string>
	<key>Description</key>
	<string>RogueKit Entity</string>
	<key>Summary</key>
	<string>Swift Class</string>
	<key>AllowedTypes</key>
	<array>
		<string>public.swift-source</string>
	</array>
	<key>DefaultCompletionName</key>
	<string>Entity</string>
	<key>Options</key>
	<array>
		<dict>
			<key>Description</key>
			<string>Entity Name</string>
			<key>Identifier</key>
			<string>entityName</string>
			<key>Name</key>
			<string>Entity:</string>
			<key>Required</key>
			<string>YES</string>
			<key>Type</key>
			<string>text</string>
			<key>NotPersisted</key>
			<true/>
		</dict>
	</array>
</dict>
</plist>
