<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>715502068113-nt73gnkberkb4313ds0lsg17beigoehu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.715502068113-nt73gnkberkb4313ds0lsg17beigoehu</string>
	<key>API_KEY</key>
	<string>AIzaSyDc9VNZSloH1gElH5nqXOCoBbl0bT_R5Sw</string>
	<key>GCM_SENDER_ID</key>
	<string>715502068113</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Euclides-Medeiros.DesafioCora</string>
	<key>PROJECT_ID</key>
	<string>coradesafio</string>
	<key>STORAGE_BUCKET</key>
	<string>coradesafio.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:715502068113:ios:c3da8c7bd56dae494d7a30</string>
</dict>
</plist>